---
layout: default
title: Itai Bassi
---


<img src="/images/nice_photo.jpeg" class="right" />
I am a theoretical linguist. My research interests, broadly speaking, are in semantics and its interfaces with syntax and pragmatics. I have published work in a number of empirical domains, including: Scalar Implicatures, anaphora and binding, focus and ellipsis.

<br><br>

I graduated from the department of linguistics at MIT in September 2021, and now I am a post-doctoral researcher in the <a href="https://leibnizdream.eu">LeibnizDream project</a>
 at the   <a href="https://www.leibniz-zas.de/en/about-us/institute">Leibniz-Zentrum Allgemeine Sprachwissenschaft (ZAS)</a>, Berlin.
 
 <br><br>

 Starting November 2024, I'll be co-editing Snippets Journal (together with Gary Thoms). 
 
 
 <a href="https://www.ledonline.it/snippets/">Snippets</a>




<!-- 

{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a> </h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}
 -->