---
layout: default
title: Itai Bassi
---


<img src="/images/nice_photo.jpeg" class="right" />
I am a theoretical linguist, which means I study natural languages and how they are organized and represented in the mind. My research interests, broadly speaking, are in semantics (the study of meaning) and its interfaces with syntax (the study of sentence structure) and pragmatics (the study of how linguistic knowledge is used in conversation). More specifically, my work covers various empirical topics, including: Anaphora and binding, Scalar Implicatures, focus and ellipsis.
 Here is <a href="https://www.dropbox.com/scl/fi/swxan1vvsuj7wri9bxbtt/CV_July2026.pdf?rlkey=75jdxbmu4b5z9u49xo6vm26ko&dl=0">my CV (July 2026)</a>.

<br><br>

 I am  a post-doctoral researcher at the <a href="https://en-humanities.tau.ac.il/linguistics"> Linguistics department at Tel Aviv University</a>. I am part of the

*<a href="https://nomisfoundation.ch/projects/reintegrating-linguistics/">NOMIS-project: Reintegrating linguistics with cognition and evolution</a>*, led by Roni Katzir (Tel-Aviv University) and Viola Schmitt (MIT).


<br><br>

Before that I was... <a href="https://leibnizdream.eu">LeibnizDream project</a>
 at the   <a href="https://www.leibniz-zas.de/en/about-us/institute">Leibniz-Zentrum Allgemeine Sprachwissenschaft (ZAS)</a>, and at <a href="https://in.bgu.ac.il/en/humsos/flit/Pages/default.aspx">Ben Gurion University</a>.
 
 <br><br>

 I am co-editor of the journal  <a href="https://www.ledonline.it/snippets/">Snippets</a>
 together with Gary Thoms. 
 
  <br><br>

Contact me at:  itaibassi (at) gmail (dot) com.

  <br><br>
(Please do not contact me through my previous email addresses: 
bassi (at) leibniz-zas (dot) de
and 
 bassi (at) bgu (dot) ac (dot) il, which are no longer in use)






<!-- 

{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a> </h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}
 -->