---
layout: default
title: About
---


<img src="/images/nice_photo.jpeg" class="right" />
I am a theoretical linguist. My research interest, broadly speaking, is on semantics and its interfaces with syntax and pragmatics. I have work in a number of empirical domains, including: Scalar Implicatures, anaphora and binding, ellipsis.

I graduated from the department of linguistics at MIT in September 2021, and now I am a post-doctoral researcher as part of the LeibnizDream project in the Leibniz-Zentrum Allgemeine Sprachwissenschaft (ZAS).



<!-- 

~~-
layout: default
~~-
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	<div class="post-content">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>

</article>
 -->